body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: rgb(24, 20, 20);
    padding: 1em 0;
    padding-bottom: 0.25em;    
}

header h1 {
    display: inline-block;
    position: relative;
    color: white;
    bottom: 30px;
    padding-left: 0.25em;
}

.logo {
    width: 85px;
}

nav {
    background-color: turquoise;
    margin-bottom: 1em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 24%;
}

nav ul li a{
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    /* margin-left: 0;
    margin-right: 0; */
}

nav ul li a:hover{
    background-color: rgb(48, 167, 155);
}

.activo{
    background-color: rgb(48, 167, 155);
}

footer{
    background-color: #ccc;
    text-align: center;
    padding: 3em 0;
    margin-top: 2em;
}

/* Carrito */

.carrito{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.carrito img{
    height: 30px;
}

/* Css del Index */

.banner{
    background-image: url(../img/banner.jpg);  
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.indexGrid1{
    width: 940px;
    margin-top: 2em;
    display: grid;
    height: 300px;
    grid-template-columns: 50% 25% 25%;
    column-gap: 10px;
}

.indexGrid2{
    width: 940px;
    margin-top: 10px;
    display: grid;
    height: 300px;
    grid-template-columns: 30% 30% 40%;
    column-gap: 10px;
}

.foto{
    padding-top: 16px;
    padding-left: 32px;
    color: white;
    font-size: 40px;
}

.img1{
    background-image: url(../img/indexgrande1.jpg);
    grid-column-start: 1;
}

.img2{
    background-image: url(../img/indexchica2.jpg);
    grid-column-start: 2;
}

.img3{
    background-image: url(../img/indexchica1.jpg);
    grid-column-start: 3;
}

.img4{
    background-image: url(../img/indexchica3.jpg);
    grid-column-start: 1;
}

.img5{
    background-image: url(../img/indexchica4.jpg);
    grid-column-start: 2;
}

.img6{
    background-image: url(../img/indexgrande2.jpg);
    grid-column-start: 3;
}

/* Css de productos */

main .titulo{
    font-size: 2em;
    padding-bottom: 12px;
    border-bottom: solid 1px;
}

.gridProd{
    display: grid;
    height: 600px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 30% 30%;
    column-gap: 48px;
    row-gap: 48px;
    margin-bottom: 6em;
}

.prod{   
    display: grid;
    grid-template-rows: 50% 35% 10%;
    border: solid 1.5px grey;
    border-radius: 1em;   
}

.prod div{
    display: flex;
    justify-content: center;
}

.prod .nombreProd{
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 100%;
}


.prod img{
    display: block;
    padding-top: 0px;
    width: 50%;
    position: relative;
}

.prod h3{
    width: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.prod ul{
    margin-top: 0;
}

.prod div button{
    margin-left: 0.5em;
}

.prod div button:hover{
    cursor: pointer;
}

/* Css de contacto */

.contacto{
    display: flex;
    justify-content: center;
    width: 960x;
    height: auto;
}

.left{
    border-right: solid 1px black;
    width: 480px;
}

.right{
    margin-left: 1em;
}

.formulario{
    width: 100%;
}

.formulario label{
    vertical-align: top;
    width: 40%;
    display: inline-block;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
}

.formulario input, .formulario textarea{
    width: 40%;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.formulario textarea{
    height: 10em;
}

.formulario .boton{
    /* width: 40%; */
    text-align: center;
    font-weight: bolder;
}

/* Css de Nosotros */

.container #nosotros{
    width: 100%;
}