* {
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 7px;
}

.heading {
  text-align: center;
  background-color: black;
  box-shadow: 0 0 10px white;
}

.perfil {
  --my-altura: 5rem;
  width: var(--my-altura);
  position: relative;
  left: calc(50vw - var(--my-altura));
}

.datos {
  box-shadow: 0 0 5px black;
}

.pregunta {
  background-color: black;
  box-shadow: 0 0 10px white;
}

.formulario {
  background-color: grey;
}

body {
  background: linear-gradient(to right, black, grey);
}